html,
body {
  width: 100%;
  height: 100vh;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.fullpage {
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  width: 100%;
  background-color: rgba(158, 158, 158, 0.74);
  background-size: cover;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar a img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
}

.navbar .navbar_nav {
  padding-left: 10px;
  list-style: none;
  display: flex;
}

.navbar .navbar_nav li a {
  padding: 25px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.navbar .navbar_nav li a:hover {
  background: rgba(98, 98, 98, 0.43);
}

.navbar .navbar_drop-down-menu {
  color: white;
  list-style: none;
  font-size: 25px;
  margin-right: 10px;
  display: none;
}

.container #home {
  background-color: #1bbb9a;
  color: #e9e9e9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container #home p {
  font-family: "Capriola", sans-serif;
  font-size: 10vw;
}

.container #works {
  background-color: #4abdc1;
  color: #e9e9e9;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.container #contact {
  background-color: #7baabe;
  color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container #contact p {
  text-align: center;
  font-size: 8vw;
}

.container #contact ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.container #contact ul li a {
  padding: 1vw;
  font-size: 3vw;
  text-decoration: none;
  color: white;
}

.container #contact ul li a:hover {
  background-color: rgba(125, 125, 125, 0.78);
  border-radius: 5px;
}

.container #contact .player {
  margin-top: 10px;
}